&lt;!-- Вставьте этот код в тег head вашего html --&gt;
p
	= '<script src="http://localhost:3000/weather?city='+city+'&days='+days+'&view='+view+'"></script>'

&lt;!-- Вставьте этот html в место, где хотите разместить виджет --&gt;
p
	= '<div id="weather"></div>'

<a href="/test?city=#{city}&days=#{days}&view=#{view}" target="_blank">Проверить</a>