<!-- Вставьте этот код в тег head вашего html -->
<script src="http://localhost:3000/weather?city=498817&days=1&view=0"></script>

<!-- Вставьте этот html в место, где хотите разместить виджет -->
<div id="weather"></div>